services:
  backend:
    build:
      context: ./backend
    container_name: fitnesscenter-backend
    environment:
        SPRING_PROFILES_ACTIVE: docker
        SPRING_DATASOURCE_URL: "jdbc:sqlserver://host.docker.internal:1433;databaseName=FitnessCenter;encrypt=true;trustServerCertificate=true"


        SPRING_DATASOURCE_USERNAME: "fitnes_user"
        SPRING_DATASOURCE_PASSWORD: "Fitness123!"

        STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}

        STRIPE_PUBLIC_KEY: "pk_test_51PKe2eP8SXzhG2woN1Hps7qJYo5DmiyTUhLn8Mp3EmwaXF1RFYtdxL2ujUecwVjK0fAHDpx8u8MDMYwcFXbiGOH5007fr22yEs"

    ports:
      - "8082:8082"

  frontend:
    build:
      context: ./frontend/fitnesscenter-frontend
    container_name: fitnesscenter-frontend
    depends_on:
      - backend
    ports:
      - "5173:80"
